In [1]:
##PYTHON FUNCTIONS
x =1
y = 2
x+y 
#value is printed immediately since we are using an interactive python course

3

In [2]:
def add_numer(x,y):
    return x + y
add_numer(1,2)

3

In [3]:
def add_numers(x,y,z = None):
    if(z == None):
        return x+y
    else:
        return x+y+z
#creates two optional params
print(add_numers(1,2))
print(add_numers(1,2,3))

3
6

In [1]:
##Python Types and Sequences
#Tuples
x = (1,'a',2,'b')
type(x)
#items in an ordering that cannot be changed, written with (), and can have mixed types

#Lists
y = [1,'a',2,'b']
y.append(3.3)
type(y)
#items can be added, changed, [] and iterable

list

In [2]:
hi = "this is the hi string"
print(hi[0])
print(hi[0:1])
print(hi[0:2])

t
t
th

In [3]:
hi[-1]

'g'

In [4]:
firstName = 'Bradley'
lastName = 'Cooper'

print(firstName + ' ' + lastName)
print(firstName *3)
print('Bradley' in firstName)

Bradley Cooper
BradleyBradleyBradley
True

In [10]:
fullName = 'Shawn Peter Raul Mendes'
firstName = fullName.split(' ')[0]
lastName = fullName.split(' ')[-1]
print(firstName)
print(lastName)

Shawn
Mendes

In [11]:
x = {'Surabhi' :'surabhi@sjsu.edu', 'Nanar': 'nanar@sjsu.edu'}
x['Surabhi']

'surabhi@sjsu.edu'

In [14]:
x['Seema']= None

for name in x.values():
    print(name)

surabhi@sjsu.edu
nanar@sjsu.edu
None

In [15]:
for name, email in x.items():
    print(name)
    print(email)

Surabhi
surabhi@sjsu.edu
Nanar
nanar@sjsu.edu
Seema
None

In [16]:
t = {'Seema','Vora','sjsu.edu'}
fname, lname, email = t

'sjsu.edu'