In [1]:
import pandas as pd

In [2]:
students = ['Seema','Shreya', 'Shruti']

In [3]:
#using Series function in pandas
pd.Series(students)

0     Seema
1    Shreya
2    Shruti
dtype: object

In [4]:
#as seen the result is a series object, and pandas automatically identifies the data type, and it is indexed with integers
#underneath panda stores series values in a typed array using the Numpy library, helps speed up the data processing

#creating a list of numbers
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
#how do numpy and therefore pandas handle missing data?
students = ['Alice', 'Jack',None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [7]:
#if you create a list of numbers, integers or floats, and put in None type it will result into NaN which is Not a Number
numbers = [1,2,3,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [9]:
#Nan is a different value, and it also set the dtype of the values to floating point numbers instead of objects or ints
#underneath pandas represents NaN as a floating point number, because integers are typecasted to floats

#often times None and NaN are used the same way by data scientists but is not the same in Pandas. 

import numpy as np
np.nan == None

False

In [10]:
#you cant even compare NaN to itself, because it will give you False
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

In [12]:
#how can pandas series be created?
#a series can be created directly to dictionary data (keys  the index)

student_score = {'Alice': 'Physics', "Jack" :'Chemistry','Molly': 'Calculus'}
s = pd.Series(student_score)
s

Alice      Physics
Jack     Chemistry
Molly     Calculus
dtype: object

In [13]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [15]:
#now what happens if we store in a tuple?

students = [("Shreya", "Stanford"), ("Shruti", "Stanford"), ("Seema", "Stanford")]
pd.Series(students)

0    (Shreya, Stanford)
1    (Shruti, Stanford)
2     (Seema, Stanford)
dtype: object