In [2]:
s = '12\\34'
print(s)

12\34

In [3]:
#swapping variables, don't have to introduce 3rd var temp
a, b = 1,2
a

1

In [4]:
b

2

In [5]:
b,a = a, b
a

2

In [6]:
a = [1,5,2,3,7,89,3,43,12,35]
a[::-1] #reverses the tuple in one line

[35, 12, 43, 3, 89, 7, 3, 2, 5, 1]

In [2]:
#enumerate function
some_list  = ['disney', 'mickey','tangled','donald duck']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'disney': 0, 'mickey': 1, 'tangled': 2, 'donald duck': 3}

In [5]:
#zip used to pair up tuples
seq1 = ['foo','coo','too']
seq2 = ['cat', 'bat','sat']
zipped = zip(seq1,seq2)
list(zipped)

[('foo', 'cat'), ('coo', 'bat'), ('too', 'sat')]