In [19]:
import pandas as pd
import numpy as np
decades = pd.Series(np.array([10,20,30,40,50,60,70]))
#Series:essentially a 1d array that can store data allow with indexing the elements (dic)
decades

0    10
1    20
2    30
3    40
4    50
5    60
6    70
dtype: int64

In [20]:
#creating an array with personalized keys using .index
GSWTeammates = pd.Series(np.array([30, 23,26,32]), index =(['Curry', 'Green' , 'Chriss', 'Bazemore']))
GSWTeammates

Curry       30
Green       23
Chriss      26
Bazemore    32
dtype: int64

In [21]:
#creating a dataFrame (similar to a table) 
people_dict ={
    "Name" : ['Seema','Shreya', 'Shruti','Seema','Meghna', 'Sujal', 'Harry', 'Harry'],
    "Age" :[18,25,22,23,12,20,23,58],
    "Weight":[111,1,22,685,369,25,5,85],
    "College":['UCLA','USC',"Stanford", "Penn State", "UCI","MIT","SJSU","Cal"]
} #creates a dictionary of data 
people = pd.DataFrame(people_dict)
people

     Name  Age  Weight     College
0   Seema   18     111        UCLA
1  Shreya   25       1         USC
2  Shruti   22      22    Stanford
3   Seema   23     685  Penn State
4  Meghna   12     369         UCI
5   Sujal   20      25         MIT
6   Harry   23       5        SJSU
7   Harry   58      85         Cal

In [22]:
pd.unique(people["Name"])
#prints unique elements of the people dict

array(['Seema', 'Shreya', 'Shruti', 'Meghna', 'Sujal', 'Harry'],
      dtype=object)

In [23]:
people.describe(include =np.number)
# .describe: gives the data mean,std, min, max and ranges (25,50,75)%
# .number: gives all the numerical values excluding all other data types

             Age      Weight
count   8.000000    8.000000
mean   25.125000  162.875000
std    13.881514  243.146304
min    12.000000    1.000000
25%    19.500000   17.750000
50%    22.500000   55.000000
75%    23.500000  175.500000
max    58.000000  685.000000

In [26]:
people[people["Age"] >= 23]

     Name  Age  Weight     College
1  Shreya   25       1         USC
3   Seema   23     685  Penn State
6   Harry   23       5        SJSU
7   Harry   58      85         Cal